@page "/subwineries/deletes"


<h3>Sub-Bodegas Eliminadas</h3>

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-card-heading" /> Sub-Bodega Eliminada
            <a class="btn btn-sm btn-primary" href="/subwineries"><i class="bi bi-arrow-left-square" /> Regresar</a>
        </span>
    </div>
    <div class="card-body">
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <button style="width: 150px;" type="button" class="btn btn-info mx-1" @onclick="SearchBranch">Sucursal</button>
            <label style="width: 200px;" class="form-label">@NameBranch</label>

            <button style="width: 150px;" type="button" class="btn btn-info mx-1" @onclick="SearchWinery">Bodega</button>
            <label style="width: 200px;" class="form-label">@NameWinery</label>

        </div>
        <br />
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <input style="width: 400px;" type="number" class="form-control" id="titulo" placeholder="Buscar..." @bind-value="Filter" />
            <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Sucursal</th>
                    <th>Nombre Bodega</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Activa</th>
                    <th style="width:160px"></th>
                </tr>
            </thead>
            <GenericList MyList="MyList">
                <Body>
                <tbody>
                        @foreach (var item in MyList!)
                        {
                        <tr>
                            <td>@item.Winery!.Branch!.Name</td>
                            <td>@item.Winery!.Name</td>
                            <td>@item.Code</td>
                            <td>@item.Description</td>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Active" disabled="true" /></td>
                            <td>
                                <button @onclick=@(() => RestoreAsycn(item)) class="btn btn-success"><i class="bi bi-check2-square" /></button>
                                <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-danger"><i class="bi bi-trash" /></button>
                                <a class="btn btn-primary" @onclick=@(() => ShowModal(item))><i class="bi bi-clock-history" /></a>
                            </td>
                        </tr>
                        }
                </tbody>
                </Body>
            </GenericList>
        </table>
    </div>
</div>

