<h3>Sub-Bodega</h3>
@if (loading)
{
    <Loading />
}
else
{
    <NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
    <EditForm EditContext="editContext"  OnValidSubmit="OnDataAnnotationsValidatedAsync">
        <DataAnnotationsValidator />
        <div class="col-12">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                                    <button style="width: 150px;" type="button" class="btn btn-info mx-1" @onclick="SearchBranch">Sucursal</button>
                                    <label style="width: 200px;" class="form-label">@NameBranch</label>

                                    <button style="width: 150px;" type="button" class="btn btn-info mx-1" @onclick="SearchWinery">Bodega</button>
                                    <label style="width: 200px;" class="form-label">@NameWinery</label>

                                </div>
                                <br />
                                <div class="mb-3">
                                    <label>Codigo:</label>
                                    <div>
                                        <InputNumber class="form-control" @bind-Value="@Model.Code" />
                                        <ValidationMessage For="@(() => Model.Code)" />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label>Descripción:</label>
                                    <div>
                                        <InputText class="form-control" @bind-Value="@Model.Description" />
                                        <ValidationMessage For="@(() => Model.Description)" />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label>Activa:</label>
                                    <div>
                                        <input class="form-check-input" type="checkbox" @bind="@Model.Active" />
                                        <ValidationMessage For="@(() => Model.Active)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span>
                            <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-floppy" /> Guardar</button>
                            <button class="btn btn-sm btn-primary" @onclick="ReturnAction"><i class="bi bi-arrow-left-square"/>Regresar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}