@page "/formparent/details/formusertypeindex/{FormParentId:long}/{FormId:long}"
<h3>Formulario: @FormName</h3>

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-key"/> Roles
            <a class="btn btn-sm btn-primary" href="/formparent/details/@FormParentId"><i class="bi bi-arrow-left-square" /> Regresar</a>
            <a class="btn btn-sm btn-primary float-end" @onclick=@(() => ShowModal(FormParentId,FormId))><i class="bi bi-plus-square"/> Nuevo</a>          
        </span>
    </div>
    <div class="card-body">
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar..." @bind-value="Filter" />
            <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Crear</th>
                    <th>Leer</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                    <th style="width:180px"></th>
                </tr>
            </thead>
            <GenericList MyList="MyList">
                <Body>
                <tbody>
                        @foreach (var item in MyList!)
                        {
                        <tr>
                            <td>@item.UserType!.Name</td>
                            <td>@item.Create</td>
                            <td>@item.Read</td>
                            <td>@item.Update</td>
                            <td>@item.Delete</td>
                            <td>
                                <a @onclick=@(() => ShowModal(FormParentId,item.Id,true)) class="btn btn-warning">Editar</a>
                                <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                        }
                </tbody>
                </Body>
            </GenericList>
        </table>
    </div>
</div>
