@page "/wineries/upload"

<h3>Subir Bodegas</h3>

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-card-heading" /> Bodega
            <a class="btn btn-sm btn-primary" href="/bintypes"><i class="bi bi-arrow-left-square" /> Regresar</a>
            <InputFile OnChange="OnChange" accept=".xlsx" />
            <button @onclick=@(() => UploadAsycn()) class="btn btn-sm btn-success">Guardar</button>
        </span>
    </div>
    <div class="card-body">
        <table width="1300">
            <thead>
                <tr>
                    <th style="width:80px">Actualiza</th>
                    <th style="width:300px">Nombre Sucursal</th>
                    <th style="width:300px">Nombre</th>
                    <th style="width:450px">Descripcion</th>
                    <th style="width:60px">Activa</th>
                    <th style="width:60px">Virtual</th>
                    <th style="width:60px"></th>
                </tr>
            </thead>
            @if (loading)
            {
                <Loading />
            }
            <GenericList MyList="MyList">
                <Body>
                <tbody>
                        @foreach (var item in MyList!)
                        {
                        <tr>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Update" /></td>
                            <td><InputText class="form-control" @bind-Value="@item.GenericSearchName" /></td>
                            <td><InputText class="form-control" @bind-Value="@item.Name" /></td>
                            <td><InputText class="form-control" @bind-Value="@item.Description" /></td>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Active" /></td>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Virtual" /></td>
                            <td>@item.StrError</td>
                            <td>
                                <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-danger"><i class="bi bi-trash" /></button>
                            </td>
                        </tr>
                        }
                </tbody>
                </Body>
            </GenericList>
        </table>
    </div>
</div>
