@page "/wineries"


<h3>Bodegas</h3>

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-card-heading" /> Bodega
            <a class="btn btn-sm btn-primary" href="/wineries/create"><i class="bi bi-plus-square" /> Nuevo</a>
        </span>
    </div>
    <div class="card-body">
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <button style="width: 120px;" type="button" class="btn btn-info mx-1" @onclick="SearchBranch">Sucursal</button>
            <label class="form-label">@NameBranch</label>
        </div>
        <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar..." @bind-value="Filter" />
            <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
        </div>
        <div>
            <a class="btn btn-sm btn-outline-danger" href="/wineries/deletes"><i class="bi bi-trash" />Eliminados</a>
            <button type="button" class="btn btn-outline-succes mx-1" @onclick="Export"><i class="bi bi-download" />Exportar</button>
            <a class="btn btn-sm btn-outline-primary" href="/wineries/upload"><i class="bi bi-upload" />Subir Plano</a>           
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Nombre</th>
                    <th>Descripcion_Bodega</th>
                    <th>Activa</th>
                    <th>Virtual</th>
                    <th style="width:200px"></th>
                </tr>
            </thead>
            <GenericList MyList="MyList" >
                <Body>
                <tbody>
                        @foreach (var item in MyList!)
                        {
                        <tr>
                            <td>@item.Branch!.Name</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Active" disabled="true" /></td>
                            <td><input class="form-check-input" type="checkbox" @bind="@item.Virtual" disabled="true" /></td>
                            <td>
                                <a href="/wineries/edit/@item.Id" class="btn btn-warning"><i class="bi bi-pencil-fill" /></a>
                                <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-danger"><i class="bi bi-trash" /></button>
                                <a class="btn btn-primary" @onclick=@(() => ShowModal(item))><i class="bi bi-clock-history"/></a>
                            </td>
                        </tr>
                        }
                </tbody>
                </Body>
            </GenericList>
        </table>
    </div>
</div>

